<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Spritzer</a>
      <ul class="nav">
      <% @environments.each do |environment| %>
      <% if @active == environment %>
      <li class="active"><a href="/<%= environment %>"><%= environment %></a></li>
      <% else %>
      <li><a href="/<%= environment %>"><%= environment %></a></li>
      <% end %>
      <% end %>
      <form class="navbar-search" method="post" action="/<%= @active %>/search/1">
      <input type="text" class="search-query" id="package" name="package" placeholder="Package Search" />
      </form>
      </ul>
    </div>
  </div>
</div>
