<h1><%= @packageinfo["name"] %></h1>
<p><b>Repos:</b></p>
<% if @packageinfo["repos"].length != 0 %>
<ul>
  <% @packageinfo["repos"].each do |repo| %>
  <li><a href="http://<%= @config['pulp_host'] %>/pulp/repos/<%= @active %>/<%= repo %>/<%= @packageinfo['filename'] %>"><%= repo %></a></li>
  <% end %>
</ul>
<% else %>
<ul>
 <li><p>Package doesn't exist in the <%= @active %> environment. This package shares a host with an environment it does live in.</p></li>
</ul>
<% end %>
<p><b>Description:</b> <%= @packageinfo["description"] %></p>
<p><b>Filename:</b> <%= @packageinfo["filename"] %></p>
<p><b>Version:</b> <%= @packageinfo["version"] %></p>
<p><b>Release:</b> <%= @packageinfo["release"] %></p>
<p><b>Epoch:</b> <%= @packageinfo["epoch"] %></p>
<p><b>Checksum:</b> <%= @packageinfo["checksum"] %> <b><%= @packageinfo["checksumtype"]%></b></p>
<p><b>License:</b> <%= @packageinfo["license"] %></p>
<p><b>Buildhost:</b> <%= @packageinfo["buildhost"] %></p>
<% if @packageinfo["vendor"] != "" %>
<p><b>Vendor:</b> <%= @packageinfo["vendor"] %></p>
<% end %>
<% if @packageinfo["changelog"].length != 0 %>
<p><b>Changelog:</b></p>
<pre class="pre-scrollable">
  <% @packageinfo["changelog"].each do |entry| %>
  <%= entry[1] %> <%= entry[2] %>
  <% end %>
</pre>
<% end %>
