<h3>Package Search:</h3>
<% if @paginate %>
<div class="pagination">
  <ul>
    <% if @active_page.to_i == 1 %>
    <li class="disabled"><a href="#">Prev</a></li>
    <% else %>
    <li><%= link_to('Prev', "/#{@active}/search/#{@active_page.to_i - 1}/#{@package}/l/#{@packages.first['filename']}") %></li>
    <% end %>
    
    <% if @active_page.to_i > 5 %>
    <li class="disabled"><a href="#">...</a></li>
    <% end %>
    
    <% for page in 1..@num_pages %>
    <% if page.to_s == @active_page %>
    <li class="active"><a href="/<%= @active %>/search/<%= page %>/p/<%= @package %>"><%= page %></a></li>
    <% elsif page < @active_page.to_i and (page > (@active_page.to_i - 5)) %>
    <li><a href="/<%= @active %>/search/<%= page %>/<%= @package %>/p/<%= @packages.first['filename'] %>/"><%= page %></a></li>
    <% elsif page > @active_page.to_i and (page < (@active_page.to_i + 5)) %>
      <li><a href="/<%= @active %>/search/<%= page %>/<%= @package %>/p/<%= @packages.last['filename'] %>/"><%= page %></a></li>
      <% end %>
      <% end %>
      
      <% if @active_page.to_i < (@num_pages - 5) %>
	 <li class="disabled"><a href="#">...</a></li>
	 <% end %>
	 
	 <% if @active_page.to_i == @num_pages %>
	 <li class="disabled"><a href="#">Next</a></li>
	 <% else %>
	 <li><%= link_to('Next', "/#{@active}/search/#{@active_page.to_i + 1}/#{@package}/g/#{@packages.last['filename']}/", :trailing_slash => true) %></li>
<% end %>
</ul>
</div>
<% end %>
<% if @packages.length != 0 %>
<table class="table-striped" cellpadding="10" width="70%">
  <tr>
    <td><b>Package</b></td>
  </tr>
  <% @packages.each do |package| %>
  <tr>
    <td><%= link_to("#{package['filename']}", "/#{@active}/package/#{package['filename']}") %></td>
  </tr>
  <% end %>
  <% end %>
</table>
