<h1><%= @cart.name %></h1>

<% if notice %>
  <div class="container">
    <div class="alert alert-info"><%= notice %></div>
  </div>
<% end %>

<p>
  <b>Manifest:</b>
  <pre>
    <%= @pretty %>
  </pre>
</p>


<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
