<!DOCTYPE html>
<html>
<head>
  <title>Spritzer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
      <a class="brand" href="/">Spritzer</a>
      <ul class="nav">
      <% @environments.each do |environment| %>
      <% if @active == environment %>
      <li class="active"><a href="/<%= environment %>"><%= environment %></a></li>
      <% else %>
      <li><a href="/<%= environment %>"><%= environment %></a></li>
      <% end %>
      <% end %>
      <form class="navbar-search" method="post" action="/<%= @active %>/search/1">
      <input type="text" class="search-query" id="package" name="package" placeholder="Package Search" />
      </form>
      <li><a href="/carts">carts</a></li>
      </ul>
  </div>
</div>
<br />
<br />
<br />
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <% if @repos.length != 0 %>
      <ul class="nav nav-tabs nav-stacked">
	<% @repos.each do |repo| %>
	<li><a href="/<%= @active %>/repo/<%= repo['display_name'] %>"><%= repo["display_name"] %></a></li>
	<% end %>
	<% end %>
      </ul>
    </div>
    <div class="span10">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
